version: '2.0'
services:
  employee:
    build: ./employee/app
    container_name: employee
    ports:
      - "8080:80"
    depends_on:
      - mysql_employee
      - kafka
  mysql_employee:
    container_name: mysql_employee
    image: mysql:8
    ports:
      - 33060:3306
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_DATABASE=lab2
      - MYSQL_ROOT_PASSWORD=123456
    volumes:
      - "./employee/mysql/:/docker-entrypoint-initdb.d"
      - employee-data:/var/lib/mysql
  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    volumes:
      - kafka-data:/bitnami/kafka
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
    depends_on:
      - zookeeper
  zookeeper:
    volumes:
      - zookeeper-data:/bitnami/zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    image: bitnami/zookeeper:latest 
  user:
    build: ./user/app
    container_name: user
    ports:
      - "8081:80"
    depends_on:
      - mysql_user
      - kafka
  mysql_user:
    container_name: mysql_user
    image: mysql:8
    ports:
      - 33061:3306
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_DATABASE=lab2
      - MYSQL_ROOT_PASSWORD=123456
    volumes:
      - "./user/mysql/:/docker-entrypoint-initdb.d"
      - user-data:/var/lib/mysql
  task:
    build: ./task/app
    container_name: task
    ports:
      - "8082:80"
    depends_on:
      - mysql_task
      - kafka
  mysql_task:
    container_name: mysql_task
    image: mysql:8
    ports:
      - 33062:3306
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_DATABASE=lab2
      - MYSQL_ROOT_PASSWORD=123456
    volumes:
      - "./task/mysql/:/docker-entrypoint-initdb.d"
      - task-data:/var/lib/mysql
volumes:
  employee-data:
  user-data:
  task-data:
  kafka-data:
  zookeeper-data: